.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}

.container {
  width: 80%;
  position: fixed;
  top: 40%;
  left: 10%;
  z-index: 3;
}

@media (min-width: 800px) {
  .container {
    width: 60%;
    left: 20%;
  }
}

@media (min-width: 1300px) {
  .container {
    width: 40%;
    left: 30%;
  }
}

@media (min-width: 1500px) {
  .container {
    width: 30%;
    left: 35%;
  }
}
