.todoContainer {
  margin: 1em;
  width: 90%;
  background-color: #e9e9e9;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 2em;
  box-shadow: 9px 9px 0 0 black;
}

.todoInfo {
  text-align: center;
  width: 80%;
}

.todoInfo p {
  padding: 0.8em;
  color: white;
  border-radius: 2em;
  background-color: rgb(75, 74, 74);
  box-shadow: 1px 1px black;
}

.doneContainer {
  background-color: rgb(0, 99, 0);
}

.done {
  text-decoration: line-through;
}

h3.done {
  color: white;
}

p.done {
  background-color: rgb(181, 253, 181);
  border: 1px solid black;
  color: black;
}

.buttonsContainer {
  width: 90%;
  margin: 1em 0;
  display: flex;
  justify-content: center;
}

.buttonsContainer button {
  background-color: white;
  border-radius: 0.8em;
  margin: 0.5em 0.5em;
  cursor: pointer;
}

.descriptionContainer {
  text-align: center;
}

button.done:hover {
  background-color: lightgreen;
}

button.edit:hover {
  background-color: lightblue;
}

button.delete:hover {
  background-color: red;
}

@media (min-width: 600px) {
  .todoContainer {
    flex-direction: row;
  }

  .buttonsContainer {
    width: 40%;
    align-self: flex-start;
    margin: auto;
  }

  .todoInfo p {
    padding: 0.8em;
    margin-left: 2em;
  }
}

@media (min-width: 900px) {
  .buttonsContainer {
    margin: 0;
    width: 30%;
  }
}

@media (min-width: 1300px) {
  .buttonsContainer {
    width: 40%;
  }
}
