.todoContainer {
  width: 90%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.todoInfo {
  text-align: center;
  width: 80%;
}

.done {
  text-decoration: line-through;
}

.buttonsContainer {
  width: 90%;
  margin: 1em 0;
  display: flex;
  justify-content: center;
}

.buttonsContainer button {
  margin: 0 0.5em;
}

.descriptionContainer {
  text-align: center;
}

@media (min-width: 600px) {
  .todoContainer {
    flex-direction: row;
  }

  .buttonsContainer {
    width: 100%;
    align-self: flex-start;
    margin: auto;
  }
}

@media (min-width: 900px) {
  .buttonsContainer {
    margin: 0;
    width: 30%;
  }
}

@media (min-width: 1300px) {
  .buttonsContainer {
    width: 40%;
  }
}
